<!doctype html>
<meta charset="utf-8">
  <title>Coin Desk</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width = device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link href='https://fonts.googleapis.com/css?family=Satisfy' rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
 
<style>

body{
    background-color: #3b5998;
}
.box{
    background-color: White;
    text-align: center;
    padding: 10px;
    color: #3b5998;
    width: 500px;
    margin-top: 50px;

}
.query{
    text-align: left;
    margin: 20px;
    padding: 10px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
</style>

<html>
    <head>
      <meta charset="utf-8">
         <title>Coin Desk</title>
    </head>

    <body>
        <section class="container">
        <div class="box">
            <h1>Buy Coins Backend Engineer</h1>
            <p><b>I am Retzam Danladi.</b> I would love to work with you guys at BuyCoins Crypto.</p>
            <p><a href="https://coindesk.herokuapp.com/graphiql">Continue to GraphiQl</a></p>
            <p><b>Note:</b> I couldn't use <b>'type'</b> as the name of one of the arguments in <b>calculatePrice</b> graph because it is a <b>keyword</b>, and i wasn't allowed, so i used <b>'typeC'</b> </p>
        
            <div class="query">
                <p><b>Therefore Query would look like so:</p>
                <p>query {<br />
                        calculatePrice(typeC: "buy", margin: 0.2, exchangeRate: 360){<br />
                          price<br />
                        }</br />
                }</b></p>
            </div>
        </div>
    </section>
    </body>
</html>


<!-- Retzam Danladi -->